* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.556);
    background-color: rgba(0, 0, 0, 0.941);
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.941);
}

header {
    background-color: rgb(0, 0, 0);
    width: 100%; 
    
}

#enca {
    background-color: rgb(10, 10, 10);
    width: 100%;
    height: 100px;
}

header h1,
header h2 {
    color: rgb(183, 156, 20);
    font-size: 1.9rem;
    text-align: center;
    margin: 0;
}

#content {
    flex: 1;
    width: 60%;
    min-height: auto;
    background-color: rgb(6, 6, 6);
    margin-top: 0px;
    padding: 0 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.041);
}

aside {
    flex: 1;
    width: 100%;
    min-height: auto;
    margin-top: 5px;
    background-color: rgba(44, 43, 43, 0.429);
    padding: 0 10px;
    color: yellow;
    text-align: center;
}

#content label,
button {
    margin-left: 15px;
    font-size: 120%;
}

button {
    background-color: #d4b70faa;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: auto;
    font-size: 130%;
    transition: background-color 0.3s ease;
    padding: 5px 5px;
}

button:hover {
    background-color: #c7c411f9;
    transform: scale(1.02);
}

#content header {
    text-align: center;
    width: 100%;
    font-size: 150%;
    background-color: rgba(255, 255, 63, 0.436);
    color: rgba(7, 7, 7, 0.714);
}

#content input {
    width: 10%;
    margin-bottom: 20px;
    background-color: #ffdb1211;
    border: none;
    padding: 3px;
    margin-left: 10px;
    color: rgb(196, 148, 17);
    font-size: 100%;
}

select {
    font-size: 100%;
    background-color: #ffffff16;
    color: rgb(169, 153, 8);
}

footer {
    width: 100%;
    height: 5%;
    position: absolute;
    text-align: center;
    bottom: 0;
    background-color: #000000;
    color: wheat;
}

footer h2 {
    margin-top: 12px;
    font-size: 10px;
    font-style: italic;
}

@media screen and (max-width: 1100px) {
    #container {
        width: 100%;
        height: auto; 
        flex-direction: column;
        align-items: center;
    }
    aside{
        width: 60%;
        background-color: #000000;
    }
    footer {
        width: 100%;
        height: 10px;
        margin-top: 10px;
        text-align: center;
        background-color: #000000;
        position: relative;
    }

    footer h2 {
        margin-top: 10px;
        padding: 5px;
    }

    header h1,
    h2 {
        color: rgb(183, 156, 20);
        font-size: 100%;
    }

    #content input {
        width: 30%;
        color: rgb(196, 148, 17);
        font-size: 70%;
    }

    #content header {
        font-size: 90%;
    }

    #content label,
    button,
    select {
        margin-left: 15px;
        font-size: 70%;
    }

}