body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #336699;
    color: white;
    padding: 1rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #e4dedee3;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
}

tr:hover {
    background-color: #abd9ff3a;
    cursor: pointer;
}

div {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

img {
    width: 40px;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 5px;
    }
}
@media (max-width: 480px) { 
    table {
        font-size: 14px;
    }
    th, td {
        padding: 5px;  
    }

    div {
        margin: 10px;
        padding: 10px;
    }
}