* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000;
    background-color: #fff;
}

header {
    background-color: #000;
    color: #69a9f8;
    text-align: center;
    padding: 20px 0;
}

.container {
    width: 40%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.input-label {
    display: block;
    color: #000;
    font-size: 17px;
    margin-bottom: 10px;
}

.input-field {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.select-field {
    width: 10%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #01010125;
    border: 1px solid #000;
    color: #000;
}

.generate-button {
    background-color: #0eb6c8aa;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.5s;
}

.generate-button:hover {
    transform: scale(1.05); 
}
#Res input{
    background-color: #0000003b;
}
footer {
    background-color: rgba(255, 255, 255, 0.11);
    color: rgb(14, 171, 176);
    text-align: center;
    padding: 10px 0;
}

footer h2 {
    margin: 12px 0;
    font-size: 12px;
    font-style: italic;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    
    .input-field {
        width: 100%;
    }
    
    .select-field {
        width: 100%;
    }
} 