* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#enca {
    width: 100%;
    height: 15%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 500px;
    display: flex;
    align-items: center;
}

#logo img {
    width: 10%;
    padding: 10px;
    margin-left: 55px;
}

#logo h1 {
    font-size: 100%;
    color: rgb(28, 112, 120);
    margin-right: 55px;
}

#content {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.036);
}

#datos,
#res,
#img1 {
    padding: 20px;
    text-align: center;
}

label {
    display: block;
    color: #f7f7f7;
    font-size: 17px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #a19a9a1f;
    border-style: inherit;
    color: white;
}

#res button {
    background-color: #69a9f8;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    transition: transform 0.2s;
}

#res button:hover {
    transform: scale(1.05);
    background-color: #69a9f8cc;
}

#Res {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: #fafafa0f;
    text-align: center;
    border: none;
    color: white;
    cursor: auto;
}

#img1 img {
    width: 380px;
}

footer {
    width: 100%;
    height: 5%;
    position: absolute;
    align-items: center;
    bottom: 0;
    background-color: #ffffff0b;
    color: wheat;
}

footer h2 {
    margin-top: 12px;
    font-size: 10px;
    font-style: italic;
}
#tab {
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#tab table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f7f7f7;
}

#tab caption {
    background-color: rgba(255, 255, 255, 0.036);
    color: #f7f7f7;
    font-size: 17px;
    padding: 10px;
}

#tab th,
#tab td {
    border: 1px solid #f7f7f7;
    padding: 10px;
    text-align: center;
}

#tab th {
    background-color: rgba(255, 255, 255, 0.036);
    color: #f7f7f7;
    font-size: 17px;
}

#tab tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.036);
}


@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
        height: auto; 
    }
    #enca{
        height: 8%; 
    }
    #logo {  
        margin-left: 109px;  
    }
    #content {
        height: auto; 
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    footer {
        width: 100%;
        height: 5%;
        position: relative;
        background-color: #ffffff0b;
        color: wheat; 
        justify-content: center; 
        align-items: center; 
    } 
    footer h2{
        margin-top: 90px;
    }
    #tab{
        color: #f7f7f7;
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    .container { 
            width: 100%;
            height: auto;  
    } 
    #logo {  
        margin-left: 70px;  
    }
}