header {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}
header h1,
h2 {
    color: rgb(183, 156, 20);
    font-size: 190%;
}  
section {
    width: 80%;
    height: auto;
    color: rgb(14, 14, 14);
    background-color: rgba(0, 0, 0, 0.115); 
    padding:20px;
    box-shadow: 0px 0px 10px rgba(250, 5, 5, 0.643);
    text-align: left;
}